[Unit]
Description=PiFinder5
After=basic.target

[Service]
Type=idle
User=pifinder
WorkingDirectory=/home/pifinder/PiFinder5/python
ExecStart=/usr/local/lib/python3.10 -m PiFinder.main
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=basic.target
