[Unit]
Description=PiFinderSplash

[Service]
WorkingDirectory=/home/pifinder/PiFinder5/python
ExecStart=/usr/local/bin/python3.10 -m PiFinder.splash

[Install]
WantedBy=basic.target
